:root {
    --primary-text-color: #212121;
    --secondr-text-color: #2196F3;
    --title-text-color: #757575;
    --primary-background-color: #E5E5E5;
    --section-color: #2F303A;
    --select-button-color: #F5F4FA;
    }
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Остальной код */
body {
    padding: 0px;
    margin: 0px;
    font-family: Roboto, sans-serif;
}

/* Хедр */

/* .pege-header {
    background-color: #ffffff;
} */
.head-nav {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ECECEC;
}
.container {
    margin: 0 auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    /* background-color: none;  */
    border: 1px solid red;
    
}

.section {
    padding: 94px 0px;
    margin: 0px;
}

/* Хедр-Логотип */
.logo {
    margin: 0px;
    padding: 0px;
    margin-right: 93px;
    margin-top: 24px;

    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    }

.web {
    color: var(--secondr-text-color);
}

.nav {
    margin: 0px;
    padding: 0px;
    /* margin-top: 32px; */
    display: flex;
    
    
}
.head {
    display: flex;
}

/* .nav li:not(:last-child) {
    margin-right: 40px;
    outline: 1px dotted red;
} */

.nav .nav-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.nav .item + .item {
    margin-left: 40px;
    
}

/* Хедр-навигация */
.nav-link {
    color: var(--primary-text-color);
    font-size: 14px;
    line-height: 1.14;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.mail:hover, 
.tel:hover,
.nav-link:hover
.nav-link:focus {
    color: var(--secondr-text-color);
}

/* Хедр-контакты */
.contact {
    display: flex;

    margin: 0px;
    padding: 0px;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: auto;
}

.contact .item + .item {
    margin-left: 50px;
}

.contact .mail,
.contact .tel {
    /* display: inline-block; */

    color: var(--title-text-color);
    font-size: 14px;
    line-height: 1.14;
    font-weight: 500;
    letter-spacing: 0.02em;
}

/* Курсор */
.pointer {
    cursor: pointer;
}

/* Футер */
footer {
    background-color: var(--section-color);
}

/* Футер логотип */
footer .second {
    color: #FFFFFF;
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.footer-logo {
    padding-top: 60px;
    padding-bottom: 20px;
}

.area {
    margin: 0px;
    padding: 0px;
    padding-bottom: 9px;

    font-family: Roboto, sans-serif;
    color: #FFFFFF;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

/* Футер контакт */
footer .contact {
font-family: Roboto, sans-serif;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255,255, 0.6);
}

.footer-contact .mail {
    margin: 0px;
    padding: 0px;
    padding-bottom: 9px;
}

.footer-contact {
    margin: 0px;
    padding: 0px;
    padding-bottom: 60px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Home page */
.feature {
    text-align: center;
    background-color: var(--section-color);
    color: #ffffff;
}

.about {
    display: flex;

    margin: 0px;
    padding: 0px;
}

/* .article {
    width: 270px;
} */

.about .article + .article {
    margin-left: 30px;
}

.button {
    background-color: var(--secondr-text-color);
    color: #ffffff;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    text-align: center;
}

.pin {
    padding-bottom: 200px;
}

.solution {
    margin: 0px;
    bottom: 0px;
    margin-bottom: 30px;
    padding-top: 200px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

/* о нас */
.skills {
    margin: 0px;
    padding: 0px;
    margin-bottom: 10px;
    /* padding-top: 94px; */

    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}



.report {
    margin: 0px;
    padding: 0px;
    margin-bottom: 50px;

    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 00.03em;
    color: var(--primary-text-color);
}

.photo-report {
    display: flex;

    margin: 0px;
    padding: 0px;
    

    text-align: center;
}

.case {
    margin: 0px;
    padding: 0px;
}

.photo-report .case + .case {
    padding-left: 30px;
}

.content {
    margin: 0px;
    padding: 0px;
    /* margin-bottom: 94px; */

    color: var(--title-text-color);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.87;
}

.team {
    background-color: #F5F4FA;
    
    
}

.team-title {
    margin: 0px;
    padding: 0px;
    margin-bottom: 50px;
    text-align: center;


    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
}

.team-list {
    display: flex;
    margin: 0px;
    padding: 0px;
    
    margin-right: 30px;
   
}


.team-list .team-item + .team-item {
    margin-left: 30px;
}


.team-subtitles {
    margin: 0px;
    padding: 0px;
    margin-bottom: 10px;

    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.16;
    letter-spacing: 00.03em;
    text-align: center;
}

.team-text {
    margin: 0px;
    padding: 0px;
    margin-bottom: 30px;

    color: var(--title-text-color);
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
}

/* Страница портфолио */

.select {
    border-radius: 4px;
    padding: 0px;
    margin: 0px;
    min-width: 130px;
    height: 38px;
    outline: 0px;
    border-color: transparent; 

    font-family: Roboto, sans-serif;
    background-color: var(--select-button-color);
    text-transform:capitalize;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
}
.btn {
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    /* padding-top: 94px; */
}

/* .btn li:not(:last-child) {
    margin-right: 8px;
} */

.btn .btn-select + .btn-select {
    margin-left: 8px;
}


.products {
    display: flex;
    flex-wrap: wrap;
    

    margin: 0px;
    padding: 0px;    
}

.products-box {
    margin-bottom: 30px;
    margin-right: 30px;
    width: 370px;
    border: 1px solid #EEEEEE;
}

.products-box:nth-child(3n) {
    margin-right: 0px;
}

/* .albom {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
} */

/* .products-box:nth-last-child(-n + 3) {
    padding-bottom: 200px;
} */


.img {
    margin: 0px;
    padding: 0px;
    margin-bottom: 20px;
}

.link {
    margin: 0px;
    padding: 0px;
    margin-bottom: 4px;
    padding-left: 24px;

    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}

.box {
    margin: 0px;
    padding: 0px;
    padding-bottom: 20px;
    padding-left: 24px;
}

/* .content {
    padding-bottom: 20px;
} */


/* Фильтр портфолио */
.stile {
    font-family: Roboto, sans-serif;
    text-transform: capitalize;
    color: var(--primary-text-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.03em;
}

.low {
    text-transform: none;
}
.select:hover {
    background-color: var(--secondr-text-color);
    color: #ffffff;
}

/* Портфолио */
.product {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
